run = "uvicorn app/main:app --host 0.0.0.0 --port 8000 --reload"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

# Optional: Set the language for syntax highlighting
language = "python3"

# Optional: Specify the package manager
package_manager = "pip"

# Optional: Specify an installation command to ensure all dependencies are installed
onBoot = "pip install -r requirements.txt"


[deployment]
run = ["sh", "-c", "uvicorn app/main:app --host 0.0.0.0 --port 8000 --reload"]

[[ports]]
localPort = 8000
externalPort = 80
